@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

@media only screen and (min-width: 1700px) {
  .container {
    width: 50%;
  }
}
@media only screen and (max-width: 1700px) {
  .container {
    width: 60%;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  h1.playlist-name {
    font-size: 1em;
  }
  .track-name {
    font-size: 1.2rem;
  }
  span.artists {
    font-size: 0.9rem;
  }
  div.open-track-btn > button.open-spotify {
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .track-name {
    font-size: 1rem;
  }
  span.artists {
    font-size: 0.75rem;
  }
  div.open-track-btn > button.open-spotify {
    font-size: 12px;
  }
  div.open-track-btn > button.open-spotify > img {
    width: 28px;
  }
}

@media only screen and (max-width: 400px) {
  div.album-cover {
    display: none;
  }
}

html {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  background: url("./broken_noise.png");
}

html::before {
  content: "";
  position: fixed;
  z-index: -2;
  top: 44%;
  left: 44%;
  width: 12%;
  height: 12%;
  transform: scale(10);
  background-color: #ffffff1c;
}

body {
  margin: 0;
}

.container {
  margin: auto;
}

.container > h1,
.search-section,
.list-section,
.toggle-section {
  width: 95%;
  margin: auto;
}

.container > h1 {
  margin-top: 1.5rem;
  font-family: Ubuntu;
  color: #c6c6c6;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.search-bar,
input[type="text"] {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #eee;
  text-shadow: 0 0.05em rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.4em;
  box-sizing: border-box;
  border-radius: 0.3em;
  box-shadow: 0 0 0.1em rgba(255, 255, 255, 0.1),
    inset 0 0.05em 0.3em rgba(0, 0, 0, 0.8);
}
.search-bar:focus,
input[type="text"] {
  box-shadow: 0 0 0.1em rgba(255, 255, 255, 0.3),
    inset 0 0.05em 0.3em rgba(0, 0, 0, 0.8);
}

.toggle-section {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.toggle-section > span {
  font-size: 1.5rem;
  font-family: Ubuntu;
  color: #c6c6c6;
}

div.loading {
  margin-top: 2rem;
}

.list-section {
  margin-top: 3rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #c6c6c6;
  font-family: Ubuntu;
  display: none;
}
.found-item {
  font-size: 30px;
}
.found-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 2rem;
}
.playlist-name {
  font-size: 1.5em;
}
.album-cover {
  position: relative;
}
.album-cover > svg {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.track {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.track-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.artists {
  font-size: 1rem;
  padding-top: 0;
  color: #979797;
}
.open-track-btn {
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}
div.open-track-btn > button {
  display: flex;
  gap: 5px;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  color: white;
  font-size: 20px;
  align-items: center;
  box-shadow: none;
}
div.open-track-btn > button:hover {
  color: white;
}
div.open-track-btn > button > img {
  width: 32px;
}

.update-playlists {
  display: flex;
  gap: 1rem;
}
.update-playlists.hidden {
  display: none;
}
.last-updated-text {
  color: #979797;
  font-size: 16px;
  font-family: Ubuntu;
}
.refresh-btn {
  font-size: 16px;
  background: none;
  border: none;
  color: #c6c6c6;
  font-family: Ubuntu;
  cursor: pointer;
  font-weight: 600;
}
.refresh-btn:hover {
  color: #6cae73;
  /* color: #1ed760; */
  /* scale: 1.05; */
  transition-duration: 0.1s;
}

/* button styles */

.update-btn,
.open-track-btn > button {
  margin-left: auto;
  cursor: pointer;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  text-shadow: 0.02em 0.02em 0.03em rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
  box-sizing: border-box;
  padding: 0.4em 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0.07em rgba(255, 255, 255, 0.1),
    0 0.2em 0.2em -0.15em rgba(0, 0, 0, 0.5), inset 0 0 0.7em rgba(0, 0, 0, 0.2),
    inset 0 0.1em 0.1em rgba(255, 255, 255, 0.15);
  transition-property: background-color, color, box-shadow, text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.58, 0.58, 1);

  background-color: rgb(72, 72, 72);
  bottom: 0;
}
.update-btn:hover,
.open-track-btn > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0.07em rgba(255, 255, 255, 0.1),
    0 0.2em 0.2em -0.15em rgba(0, 0, 0, 0.5), inset 0 0 0.7em rgba(0, 0, 0, 0.4),
    inset 0 0.1em 0.1em rgba(255, 255, 255, 0.1);
  color: #333;

  background-color: rgb(92, 92, 92);
}

/* toggle */
.toggle {
  position: relative;
  --inactive-bg: #c6c6c6;
  --active-bg: #6cae73;
  --size: 2rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--inactive-bg);
  transition: background 0.3s ease-out;
}
.toggle:checked {
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
}

.toggle::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.3s;
}

.toggle:checked:after {
  left: 50%;
}
